# Node & package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
coverage/
.nyc_output/

# VS Code/Editor
.vscode/
.history/
.idea/
.vscodeignore

# OS
.DS_Store
Thumbs.db

# VSIX packages
*.vsix

# TypeScript
*.tsbuildinfo

# Env & local config
.env
.env.*

# Misc
logs/
tmp/

